@media print {
  body * {
    visibility: hidden;
    position: relative;
  }
  #section-to-hide *{
    visibility: hidden !important;
  }
  #section-to-print,
  #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: fixed;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    font-size: 30px;
    padding: 20px;
    /* height: 100vh !important; */
  }
  #section-to-print h4 {
    font-size: 30px;
    font-weight: bold;
  }
  #section-to-print h6 {
    font-size: 24px;
    font-weight: bold;
  }
  #section-to-print.couponEx h3,h4,p{
    font-size: 13px !important;
    line-height: 1 !important;
  }
  #section-to-print.couponEx .couponDate{
    padding: 2px !important;
  }
}